@media only screen and (min-width: 1px) and (max-width: 450px) {
  body {
    background-size: 514px;
    background-position: 144px;
  }
  .nav-link {
    // display: none;
    font-size: 12px;
  }

  h2#rsvp-title.reply-text {
    font-size: 30px;
  }

  .welcome-info {
    margin: 15px;
  }

  .details-area {
    margin: 20px;
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 14px;
  }

  #rsvp-big-button {
    font-size: 14px;
  }

  #rsvp-table-button {
    font-size: 12px;
    border: none;
  }

  .rsvp-area {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 14px;
  }

  .rsvp-area-info {
    margin-top: 14px;
  }

  a {
    text-decoration: none;
    color: black;
    font-size: 24px;
     font-family: 'Cormorant Garamond', serif;

  }

  h4 {
     font-family: 'Cormorant Garamond', serif;

    font-size: 14px;
  }

  h5 {
     font-family: 'Cormorant Garamond', serif;

    font-size: 12px;
    text-align: center;
  }

  p {
     font-family: 'Cormorant Garamond', serif;

    text-align: center;
    font-size: 12px;
  }

  p#demo {
    font-size: 20px;
  }

  h1 {
    font-size: 25px;
    text-align: center;
    margin: 16px;
  }

  h2 {
     font-family: 'Cormorant Garamond', serif;

    font-size: 16px;
    text-align: center;
  }

  h3 {
     font-family: 'Cormorant Garamond', serif;

    font-size: 14px;
    text-align: center;
  }

  .vip img {
    height: 32px;
    width: 32px;
    border-radius: 50%;
    object-fit: cover;
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
  }

  .bridesmaids {
    overflow: hidden;
    display: flex;
    align-items: center;
    padding: 36px;
  }

  .bridesmaids-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
    width: 100%;
    height: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .groomsmen {
    overflow: hidden;
    display: flex;
    align-items: center;
    padding: 36px;
  }

  .groomsmen-list {
    // display: flex;
    // align-items: center;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
    width: 100%;
    height: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .vip {
   text-align: center;
   font-size: 10px;
   transform: scale(1);
   transition: transform .5s;
  }

  .avatar {
    transform: scale(1);
    transition: transform .5s;
  }

  .avatar:hover {
    transform: scale(3.6);
    z-index: 4;
  }

  .card-info {
    margin: 6px;
  }

  .schedule-event {
    margin: 6px;
  }

  .schedule {
    align-items: center;
    justify-content: center;
    margin: auto;
    padding: 10px;
  }

  .schedule-area {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 10px;
    margin: 12px;
  }

  .schedule-list {
    padding: 10px;
  }

  .travel {
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .registry {
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .nine {
    display: none;
  }
  .four {
    width: 100%;
  }
}








@media only screen and (min-width: 451px) and (max-width: 1000px) {
  body {
    background-size: 700px;
    background-position: 400px;
  }
  .welcome-info {
    margin: 15px;
  }

  p#demo {
    font-size: 26px;
  }

  .rsvp-area {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
  }

  .details-area {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
  }

  #rsvp-big-button {
    font-size: 26px;
  }

  #rsvp-table-button {
    font-size: 12px;
    border: none;
  }

  a {
    text-decoration: none;
    color: black;
    font-size: 24px;
    font-family: 'Cormorant Garamond', serif;
    //  font-family: 'Cormorant Garamond', serif;
  }

  h4 {
     font-family: 'Cormorant Garamond', serif;

    font-size: 22px;
  }

  h5 {
     font-family: 'Cormorant Garamond', serif;

    font-size: 18px;
    text-align: center;
  }

  p {
     font-family: 'Cormorant Garamond', serif;

    text-align: center;
    font-size: 18px;
  }

  h1 {
    font-size: 40px;
    text-align: center;
    margin: 20px;
  }

  h2 {
     font-family: 'Cormorant Garamond', serif;

    font-size: 28px;
    text-align: center;
  }

  h3 {
     font-family: 'Cormorant Garamond', serif;

    font-size: 24px;
    text-align: center;
  }

  .vip img {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    object-fit: cover;
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
  }

  .vip {
   text-align: center;
   font-size: 16px;
   transform: scale(1);
   transition: transform .5s;
  }

  .avatar {
    transform: scale(1);
    transition: transform .5s;
  }

  .avatar:hover {
    transform: scale(3.6);
    z-index: 4;
  }

  .card-info {
    margin: 8px;
  }

  .schedule-event {
    margin: 8px;
  }

  .schedule {
    align-items: center;
    justify-content: center;
    margin: auto;
    // border: solid black 1px;
    padding: 14px;
  }

  .schedule-area {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 10px;
    margin: 18px;
  }

  .schedule-list {
    padding: 14px;
  }

  .travel {
    padding: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .registry {
    padding: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .six {
    height: 100%;
  }

  .two {
    height: 100%;
  }

  .nine {
    display: none;
  }
  .four {
    width: 100%;
  }
  .album-card-text p {
    display: none;
  }

  .album-card-text h1 {
    font-size: 26px;
  }

  .album-card-text h2 {
    display: none;
  }

  .album-card-text-content {
    padding: 30px;
  }
}
