@media only screen and (min-width: 1px) and (max-width: 450px) {
  .nav-link {
    // display: none;
    font-size: 8px;
  }

  h2#rsvp-title.reply-text {
    font-size: 30px;
  }

  .welcome-info {
    margin: 15px;
  }

  .details-area {
    margin: 20px;
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 10px;
  }

  #rsvp-big-button {
    font-size: 10px;
  }

  #rsvp-table-button {
    font-size: 8px;
    border: none;
  }

  .rsvp-area {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 10px;
  }

  .rsvp-area-info {
    margin-top: 10px;
  }

  a {
    text-decoration: none;
    color: black;
    font-size: 24px;
     font-family: 'Cormorant Garamond', serif;

  }

  h4 {
     font-family: 'Cormorant Garamond', serif;

    font-size: 10px;
  }

  h5 {
     font-family: 'Cormorant Garamond', serif;

    font-size: 8px;
    text-align: center;
  }

  p {
     font-family: 'Cormorant Garamond', serif;

    text-align: center;
    font-size: 8px;
  }

  p#demo {
    font-size: 20px;
  }

  h1 {
    font-size: 25px;
    text-align: center;
    margin: 16px;
  }

  h2 {
     font-family: 'Cormorant Garamond', serif;

    font-size: 16px;
    text-align: center;
  }

  h3 {
     font-family: 'Cormorant Garamond', serif;

    font-size: 14px;
    text-align: center;
  }

  .vip img {
    height: 32px;
    width: 32px;
    border-radius: 50%;
    object-fit: cover;
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
  }

  .bridesmaids {
    overflow: hidden;
    display: flex;
    align-items: center;
    padding: 36px;
  }

  .bridesmaids-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
    width: 100%;
    height: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .groomsmen {
    overflow: hidden;
    display: flex;
    align-items: center;
    padding: 36px;
  }

  .groomsmen-list {
    // display: flex;
    // align-items: center;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
    width: 100%;
    height: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .vip {
   text-align: center;
   font-size: 10px;
   transform: scale(1);
   transition: transform .5s;
  }

  .avatar {
    transform: scale(1);
    transition: transform .5s;
  }

  .avatar:hover {
    transform: scale(3.6);
    z-index: 4;
  }

  .card-info {
    margin: 6px;
  }

  .schedule-event {
    margin: 6px;
  }

  .schedule {
    align-items: center;
    justify-content: center;
    margin: auto;
    border: solid black 1px;
    padding: 10px;
  }

  .schedule-area {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 10px;
    margin: 12px;
  }

  .schedule-list {
    padding: 10px;
  }

  .travel {
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .registry {
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
  }



  // .album-list {
  //     display: grid;
  //     grid-template-columns:  1fr 1fr ;
  //     grid-gap: 30px;
  //     width: 100%;
  //     // margin: 30px;
  //     justify-content: center;
  //     align-items: center;
  //     margin-bottom: 30px;
  //     margin-top: 20px;
  // }

  // // .album-list-box {
  // //   display: flex;
  // //   justify-content: center;
  // // }

  // .album-list-photo {
  //   box-shadow: 0 0 15px rgba(0,0,0,0.2);
  //   // width: 240px !important;
  //   // height: 206px !important;
  //   object-fit: cover;
  // }
}








@media only screen and (min-width: 451px) and (max-width: 1000px) {
  .welcome-info {
    margin: 15px;
  }

  p#demo {
    font-size: 26px;
  }

  .rsvp-area {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
  }

  .details-area {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
  }

  #rsvp-big-button {
    font-size: 26px;
  }

  #rsvp-table-button {
    font-size: 12px;
    border: none;
  }

  a {
    text-decoration: none;
    color: black;
    font-size: 48px;
    font-family: 'Cormorant Garamond', serif;
    //  font-family: 'Cormorant Garamond', serif;
  }

  h4 {
     font-family: 'Cormorant Garamond', serif;

    font-size: 22px;
  }

  h5 {
     font-family: 'Cormorant Garamond', serif;

    font-size: 18px;
    text-align: center;
  }

  p {
     font-family: 'Cormorant Garamond', serif;

    text-align: center;
    font-size: 14px;
  }

  h1 {
    font-size: 40px;
    text-align: center;
    margin: 20px;
  }

  h2 {
     font-family: 'Cormorant Garamond', serif;

    font-size: 28px;
    text-align: center;
  }

  h3 {
     font-family: 'Cormorant Garamond', serif;

    font-size: 24px;
    text-align: center;
  }

  .vip img {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    object-fit: cover;
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
  }

  .vip {
   text-align: center;
   font-size: 16px;
   transform: scale(1);
   transition: transform .5s;
  }

  .avatar {
    transform: scale(1);
    transition: transform .5s;
  }

  .avatar:hover {
    transform: scale(3.6);
    z-index: 4;
  }

  .card-info {
    margin: 8px;
  }

  .schedule-event {
    margin: 8px;
  }

  .schedule {
    align-items: center;
    justify-content: center;
    margin: auto;
    border: solid black 1px;
    padding: 14px;
  }

  .schedule-area {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 10px;
    margin: 18px;
  }

  .schedule-list {
    padding: 14px;
  }

  .travel {
    padding: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .registry {
    padding: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .six {
    height: 100%;
  }

  .two {
    height: 100%;
  }

  .album-card-text p {
    display: none;
  }

  .album-card-text h1 {
    font-size: 26px;
  }

  .album-card-text h2 {
    display: none;
  }

  .album-card-text-content {
    padding: 30px;
  }

  // .album-list {
  //   display: grid;
  //   grid-template-columns:  1fr 1fr ;
  //   grid-gap: 30px;
  //   width: 100%;
  //   // margin: 30px;
  //   justify-content: center;
  //   align-items: center;
  //   margin-bottom: 30px;
  //   margin-top: 20px;
  // }

  // // .album-list-box {
  // //   display: flex;
  // //   justify-content: center;
  // // }

  // .album-list-photo {
  //   box-shadow: 0 0 15px rgba(0,0,0,0.2);
  //   // width: 240px !important;
  //   // height: 206px !important;
  //   object-fit: cover;
  // }
}






// @media (max-width: 1000px) {
//   .album-banner {
//     background-size: cover;
//     background-position: center;
//     // padding: 150px 0;
//     height: 300px;
//     display: flex;
//     justify-content: center;
//     align-items: center;
//   }

//   .album-banner h2 {
//     margin: 0;
//     // opacity: .7;
//     color: white;
//     text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
//     font-size: 32px;
//     font-weight: bold;
//   }
//   .album-banner h2:hover {
//     margin: 0;
//     opacity: .5;
//     color: white;
//     text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
//     font-size: 32px;
//     font-weight: bold;
//   }

//   // .album-banner h1 {
//   //   font-size: 50px;
//   //   color: white;
//   //   text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
//   // }

//   .album-banner h5 {
//     font-size: 30px;
//     color: white;
//     opacity: .7;
//     text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
//   }

//   .album-card-info {
//     display: flex;
//     // grid-template-columns: 1fr;
//     box-shadow: 0 0 15px rgba(0,0,0,0.2);
//     width: 700px;
//     height: 420px;
//     // display: flex;
//     // justify-content: center;
//   }

//   .album-card-img {
//     align-items: center;
//     justify-content: center;
//     display: flex;
//     // margin: 20px;
//   }

//   .album-card-text-content {
//     align-items: center;
//     justify-content: center;
//     text-align: center;
//     // display: flex;
//     // width: 580px;
//     // height: 420px;
//     overflow: hidden;
//     background-color: white;
//     padding: 20px;
//   }

//   .album-card-text p {
//     font-size: 16px;
//   }

//   .album-card-text h1 {
//     font-size: 36px;
//   }

//   .album-card-text h2 {
//     font-size: 22px;
//   }

//   .album-card-text {
//     display: flex;
//     justify-content: center;
//     align-items: center;
//     width: 420px;
//     height: 420px;
//     background-color: white;

//   }

//   #album-card-img {
//     height: 420px;
//     width: 280px;
//     object-fit: cover;
//     align-items: center;
//     justify-content: center;
//     display: flex;
//     position: relative;
//     top: 0px;
//   }

//   #create-album-btn {
//     margin: none;
//     font-size: 50px;
//   }

//   div.create-button {
//     height: 50px;
//   }

//   .album-index {
//     // background-color: #e5e5f7;
//     // opacity: 0.8;
//     // background-image: linear-gradient(45deg, #444cf7 50%, #e5e5f7 50%);
//     // background-size: 10px 10px;
//     margin-bottom: 20px;
//   }

//   .album-index a {
//     // margin: 20px;
//     justify-content: center;
//   }

//   #albums {
//     // display: grid;
//     // grid-template-columns: 1fr 1fr ;
//     // grid-gap: 30px;
//     display: flex;
//     justify-content: center;
//     align-items: center;
//     width: 100%;
//     // padding: 30px 0 30px 0 ;
//     margin-bottom: 30px;
//   }

//   #albums a {
//   display: flex;
//   }

//   .album-list {
//     display: grid;
//     grid-template-columns:  1fr 1fr 1fr 1fr;
//     grid-gap: 30px;
//     width: 100%;
//     // margin: 30px;
//     justify-content: center;
//     align-items: center;
//     margin-bottom: 30px;
//     margin-top: 20px;
//   }

//   .album-list-box {
//     display: flex;
//     justify-content: center;
//   }

//   .album-list-photo {
//     box-shadow: 0 0 15px rgba(0,0,0,0.2);
//     width: 280px;
//     height: 240px;
//     object-fit: cover;
//   }

//   .edit {
//     display: flex;
//     justify-content: center;
//   }

//   #add-photo-button {
//     font-size: 30px;
//     // margin: 50px;
//     // font-weight: bold;
//     border: solid black 1px;
//     padding: 20px;
//     // margin: 30px;
//     width: 220px;

//   }
// }
