.album-banner {
  background-size: cover;
  background-position: center;
  // padding: 150px 0;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.album-banner h2 {
  margin: 0;
  // opacity: .7;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 32px;
  font-weight: bold;
}

.home-text {
  display: flex;
  justify-content: center;
  align-items: center;
}

.album-banner h2:hover {
  margin: 0;
  opacity: .5;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 32px;
  font-weight: bold;
}

.album-card-info {
  display: flex;
  // grid-template-columns: 1fr;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  width: 1000px;
  height: 420px;
  // display: flex;
  // justify-content: center;
}

.album-card-img {
  align-items: center;
  justify-content: center;
  display: flex;
  // margin: 20px;
}

.album-card-text-content {
  align-items: center;
  justify-content: center;
  text-align: center;
  // display: flex;
  // width: 580px;
  // height: 420px;
  overflow: hidden;
  // background-color: white;
  padding: 80px;
}

.album-card-text p {
  font-size: 16px;
  color: white;

}

.album-card-text h1 {
  font-size: 40px;
  color: white;

}

.album-card-text h2 {
  font-size: 26px;
  color: white;

}

.album-card-text {
  display: flex;
  justify-content: center;
  align-items: center;
  // width: 580px;
  // height: 420px;
  height: 100%;
  width: 100%;
  // background-color: white;
  max-width: 600px;
  object-fit: cover;
}

@media only screen and (min-width: 1px) and (max-width: 450px) {
  .album-card-text p {
    display: none;
  }

  .album-card-text h1 {
    font-size: 20px;
  }

  .album-card-text h2 {
    display: none;
  }

  .album-card-text-content {
    padding: 20px;
  }
}

@media only screen and (min-width: 451px) and (max-width: 760px) {
  .album-card-text p {
    display: none;
  }

  .album-card-text h1 {
    font-size: 20px;
    margin: 40px;
  }

  // .album-card-text h2 {

  // }

  .album-card-text-content {
    padding: 30px;
  }
}

#create-album-btn {
  margin: none;
  font-size: 50px;
}

div.create-button {
  height: 50px;
}

.album-index {
  margin-bottom: 20px;
}

.album-index a {
  // margin: 20px;
  justify-content: center;
}

#albums {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  // padding: 30px 0 30px 0 ;
  margin-bottom: 30px;
  padding-right: 100px;
  padding-left: 100px;

}

#albums a {
  display: flex;
}

// @media only screen and (min-width: 640px){
//   .album-list {
//     // display: grid;
//     // grid-template-columns:  1fr 1fr 1fr 1fr;
//     // grid-gap: 30px;
//     // grid-template-columns: 47.5% 47.5%;
//     grid-template-columns: 10% 10% 10% 10% 10% 10% 10% 10% 10%;
//     // grid-column-gap: ;
//     grid-row-gap: 40px;
//     width: 100%;
//     // max-width: fit-content;
//     // // margin: 30px;
//     // justify-content: center;
//     // align-items: center;
//     // margin-bottom: 30px;
//     // margin-top: 20px;
//   }

//   .album-list > div {
//     padding: 20px;
//   }
// }

.album-list {
  display: grid;
  grid-template-columns:  1fr 1fr 1fr 1fr;
  grid-gap: 30px;
  width: 100%;
  // justify-content: center;
  // align-items: center;
  margin-bottom: 30px;
  margin-top: 20px;
}

.album-list-box {
  display: flex;
  justify-content: center;
}

.album-list-photo {
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  width: 280px;
  height: 240px;
  // width: 100%;
  // height: 300px;
  object-fit: cover;
}

@media only screen and (min-width: 0px) and (max-width: 649px) {
  .album-list {
    display: grid;
    grid-template-columns:  1fr ;
  // grid-gap: 30px;
  // width: 100%;
  // justify-content: center;
  // align-items: center;
  // margin-bottom: 30px;
  // margin-top: 20px;
  }
}

@media only screen and (min-width: 650px) and (max-width: 1000px) {
  .album-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

@media only screen and (min-width: 1001px) and (max-width: 1400px) {
  .album-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.edit {
  display: flex;
  justify-content: center;
}

#add-photo-button {
  font-size: 30px;
  // margin: 50px;
  // font-weight: bold;
  border: solid black 1px;
  padding: 20px;
  // margin: 30px;
  width: 220px;
  text-align: center;
}

#edit-back-button {
  color: white;
}

#edit-back-button:hover {
  color: white;
  opacity: 0.5;
}

.add-photo-bar {
  width: 300px;

}

.add-photo-container {
  display: flex;
  justify-content: center;
  align-items: center;
  // display: table-row;
}

.add-photo-area {
  // display: flex;
  // justify-content: center;
  // align-items: center;
  // position: absolute;
  // top: 300px;
  // bottom: 80px;
  // height: 100%;
  margin: 40px 40px 40px 40px;
  // border: solid black 1px;
  padding: 50px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  max-width: 800px;
}

.add-photo-zone {
  display: flex;
  justify-content: center;
  align-items: center;
}

#update-album-btn {
  text-align: center;
  width: 100%;
}

#back-to-album-btn {
  width: 100%;
  align-items: center;
}

// .album-list-photo {
//   transform: scale(1);
//   transition: transform .5s;
// }

// .album-list-photo:hover {
//   transform: scale(2);
//   z-index: 4;
// }
