// Specific CSS for your home-page
.maininfo img {
  max-height: 100px;
}

// html body {

// }

h1 {
  font-family: 'Allegedly', sans-serif;
  font-size: 60px;
  text-align: center;
  margin: 20px;
}

h2 {
  font-family: 'Cormorant Garamond', serif;

  // font-family: 'Balechin Royalo', sans-serif;
  font-size: 32px;
  text-align: center;
}

h3 {
  font-family: 'Cormorant Garamond', serif;

  // font-family: 'Balechin Royalo', sans-serif;
  font-size: 26px;
  text-align: center;
}

h3:hover {
  color: rgba(180, 180, 180, 180);
}

h4 {
  font-family: 'Balechin Royalo', sans-serif;
  font-size: 20px;
}

h5 {
  font-family: 'Balechin Royalo', sans-serif;
  font-size: 16px;
  text-align: center;
}

p {
  font-family: 'Balechin Royalo', sans-serif;
  text-align: center;
  font-size: 16px;
}

#parking-link {
  font-family: 'Balechin Royalo', sans-serif;
  text-align: center;
  font-size: 16px;
}

// .rsvp-btn {
//   text-align: center;
//   text-decoration: none;
//   color: red;
//   text-align: center;
//   margin: auto;
//   // width: 200px;
//   display: flex;
//   justify-content: center;
// }

.rsvp-btn:hover {
  color: rgba(180, 180, 180, 180);
}

a {
  text-decoration: none;
  color: black;
  font-size: 68px;
  font-family: 'Balechin Royalo', sans-serif;
}

a:hover {
  color: rgba(180, 180, 180, 180);
}

#rsvp-table-button {
  font-size: 14px;
  border: none;
}

#rsvp-big-button {
  color: rgb(0, 145, 0);
  text-align: center;
}

#rsvp-big-button:hover {
  color: limegreen;
}

.one {
  max-width: 450px;
}
.two {
  max-height: 450px;
  width: 100%;
  object-fit: cover;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}
.three {
  max-height: 150px;
  object-fit: cover;
}
.four {
  max-height: 500px;
  object-fit: cover;
  width: 100%;
  margin-top: 20px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);

}
.five {
  max-height: 500px;
  object-fit: cover;
  width: 100%;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);

}

.six {
  max-height: 450px;
  width: 100%;
  object-fit: cover;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.seven {
  max-height: 400px;
  object-fit: cover;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.eight {
  max-height: 300px;
  position: absolute;
  opacity: 0.4;
  transform: rotate(20deg);
}

.area-image {
  display: flex;
  justify-content: center;
  align-items: center;
}

p#demo {
  font-size: 23px;
}

.rsvp-area {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
  margin: 50px;
  // align-items: center;
}

.rsvp-area-2 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.rsvp-area-info {
  padding: 50px;
  // margin: 20px;
  background-repeat: no-repeat;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  justify-content: center;
  text-align: center;
  max-width: 350px;
}

.details-area {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
  margin: 50px 50px;
  // align-items: center;
}

.details-area-info {
  justify-content: center;
  text-align: center;
  padding: 10px;
}

.schedule-event {
  margin: 10px;
}

.schedule {
  align-items: center;
  justify-content: center;
  margin: auto;
  border: solid black 1px;
  padding: 20px;
}

.schedule-area {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 10px;
  margin: 30px;
}

.schedule-list {
  padding: 20px;
}

.travel {
  padding: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.registry {
  padding: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}
