.rsvp-form-body {
  padding: 50px;
  width: 50%;
}

.rsvp-new-img {
  // width: 50%;
  height: 600px;
  object-fit: cover;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.rsvp-form {
  display: flex;
  justify-content: center;
  align-items: center;
}

#rsvp-title {
  font-size: 50px;
  margin: 80px 0 80px 0;
}

label {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 20px;
  font-family: 'Balechin Royalo', sans-serif;
}

input#rsvp_attendance_true {
  background-color: pink;
  display: flex;
  align-items: center;
}

#rsvp-confirm {
  // background-color: red;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Balechin Royalo', sans-serif;
}

legend.col-form-label.pt-0 {
  font-family: 'Balechin Royalo', sans-serif;
}

.table-container {
  // width: 80%;
  margin: 50px;
}

.rsvp-table-headers {
  text-align: center;
}

.rsvp-data {
  text-align: center;
}

.rsvp-card-product {
  overflow: hidden;
  display: flex;
  align-items: center;
  // height: 600px;
  padding: 0 50px 50px 50px;
  margin-bottom: 20px;
  justify-content: center;
}

@media only screen and (min-width: 0px) and (max-width: 649px) {
  .rsvp-form-body {
    padding: 20px;
    width: 100%;
  }

  .rsvp-new-img {
    display: none;
  }
}

@media only screen and (min-width: 650px) and (max-width: 1000px) {
  .rsvp-new-img {
    display: none;
  }

  .rsvp-form-body {
    padding: 20px;
    width: 100%;
  }
}

@media only screen and (min-width: 1001px) and (max-width: 1400px) {
  .rsvp-form-body {
    padding: 50px;
    width: 50%;
  }

  .rsvp-new-img {
    // width: 50%;
    height: 600px;
    object-fit: cover;
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
  }
}
