<a id="home">
<%# <img src="https://res.cloudinary.com/dfipoufmj/image/upload/v1669048233/zoe_header_pic_q6rlbj.jpg" alt="" class="five"> %>
  <%# <img src="https://res.cloudinary.com/dfipoufmj/image/upload/v1666015811/DSC02450_dmkao8.jpg" alt="" class="five" > %>
  <img src="https://res.cloudinary.com/dfipoufmj/image/upload/v1666015811/DSC02450_dmkao8.jpg" alt="" class="five" >


</a>
<div class="welcome-info">
  <h1>The Jackson-Addletons</h1>
  <p>Welcome! We may already be legally wed, but that doesn't mean we're missing the opportunity to celebrate with our nearest and dearest!</p>
  <p>Suit up, boot up, and get ready for a Scottish throwdown!</p>
  <p id="demo"></p>

  <a id="rsvp">
  </a>
  <a href="https://www.thebyreatinchyra.co.uk/" target="_blank"><h2>25th November 2023 | The Byre at Inchyra</h2><h3>Glencarse, Perth PH2 7LU, UK</h3>
  </a>
</div>
  <script>
    var countDownDate = new Date("Nov 23, 2023 12:00:00").getTime();
    var x = setInterval(function() {
      var now = new Date().getTime();
    var distance = countDownDate - now;
    var days = Math.floor(distance / (1000 * 60 * 60 * 24));
    var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
    var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
    var seconds = Math.floor((distance % (1000 * 60)) / 1000);
      document.getElementById("demo").innerHTML = days + " Days - " + hours + " Hours - "
      + minutes + " Minutes and " + seconds + " Seconds" + " TO GO!";

      if (distance < 0) {
        clearInterval(x);
        document.getElementById("demo").innerHTML = "Its the Big Day!";
      }
    }, 1000);
  </script>
<div class="rsvp-area">
  <div class="area-image">
    <img src="https://res.cloudinary.com/dfipoufmj/image/upload/v1666015815/DSC02516_hw35a6.jpg" alt="" class="six">
  </div>
  <div class="rsvp-area-2">
    <div class="rsvp-area-info">
      <h4>PLEASE RSVP BY 31st MARCH 2023</h4>
        <p>Fill out the form below</p>
      <div class="rsvp-btn">
        <a href="/rsvps/new"><p id="rsvp-big-button">RSVP</p></a>
      </div>
      <a id="details">
      </a>
        <div class="rsvp-table-btn">
          <%= link_to "RSVP replies", rsvps_path, id: "rsvp-table-button" %>
        </div>
    </div>
  </div>
</div>

<div class="details-area">
  <div class="details-area-info">
    <h1>The Details</h1>
    <h4>Dress Code</h4>
    <p>Formal & Fancy (be prepared for potentially frosty weather)</p>
    <p><strong>* umbrellas strongly advised *</strong></p>
    <p>Venue details & access - <a href="https://www.thebyreatinchyra.co.uk/getting-here/information-for-guests/" target="_blank" id="parking-link">Click Here</a></p>
    <p>ADULT ONLY AFFAIR</p>
    <p>Mealtimes & toasts are on us, party drinks are on you.*</p>
    <p>Any Questions? zoeandcam2023@gmail.com</p>
    <p id="side-note">* If you prefer something a little stronger than vino, we will have a semi-subsidised bar that accepts all major debit / credit cards. No naughty hipflasks or outside beverages please - it interferes with licensing and will shut down our throwdown!</p>
  </div>
  <div class="area-image">
    <img src="https://res.cloudinary.com/dfipoufmj/image/upload/v1666015814/DSC02500_wn01f3.jpg" alt="" class="two">
  </div>
</div>
<a id="wedding-committee">
</a>
<div class="wedding-committee-area">
  <h1 class="wedding-committee-titles">Bridesmaids</h1>
  <div class="bridesmaids">
    <div class="bridesmaids-list">
      <div class="vip">
        <img src="https://res.cloudinary.com/dfipoufmj/image/upload/v1666112213/zoe4_eqjnhe.jpg" alt="" class="avatar">
        <div class="card-info">
          <h4>Louisa Abbott</h4>
          <h5>The Ginger One</h5>
        </div>
      </div>
      <div class="vip">
        <img src="https://res.cloudinary.com/dfipoufmj/image/upload/v1666112213/zoe6_zaw9zf.jpg" alt="" class="avatar">
        <div class="card-info">
          <h4>Ruby Gullon</h4>
          <h5>The Geordie</h5>
        </div>
      </div>
      <div class="vip">
        <img src="https://res.cloudinary.com/dfipoufmj/image/upload/v1666166533/alicia_z6bkdd.jpg" alt="" class="avatar">
        <div class="card-info">
            <h4>Alicia Hudson</h4>
          <h5>Twinny</h5>
        </div>
      </div>
      <div class="vip">
        <img src="https://res.cloudinary.com/dfipoufmj/image/upload/v1669048758/orla_zoes_website_gkasnw.jpg" alt="" class="avatar">
        <div class="card-info">
          <h4>Orla Jackson</h4>
          <h5>Little Sis</h5>
        </div>
      </div>
      <div class="vip">
        <img src="https://res.cloudinary.com/dfipoufmj/image/upload/v1666112213/zoe5_d0hcqx.jpg" alt="" class="avatar">
        <div class="card-info">
          <h4>Mairead Kempthorne</h4>
          <h5>Lord Maz</h5>
        </div>
      </div>
      <div class="vip">
        <img src="https://res.cloudinary.com/dfipoufmj/image/upload/v1666112212/zoe1_mgsxq7.jpg" alt="" class="avatar">
        <div class="card-info">
          <h4>Rosie Little-Johns</h4>
          <h5>Rozatron</h5>
        </div>
      </div>
      <div class="vip">
        <img src="https://res.cloudinary.com/dfipoufmj/image/upload/v1668433845/WhatsApp_Image_2022-10-20_at_5.00.58_AM_zeecty.jpg" alt="" class="avatar">
        <div class="card-info">
          <h4>Hannah Snodgrass</h4>
          <h5>The American</h5>
        </div>
      </div>
      <div class="vip">
        <img src="https://res.cloudinary.com/dfipoufmj/image/upload/v1666166524/sonnen_ho7gzn.jpg" alt="" class="avatar">
        <div class="card-info">
          <h4>Lesley Sonnen</h4>
          <h5>The Foghorn</h5>
        </div>
      </div>
      <div class="vip">
        <img src="https://res.cloudinary.com/dfipoufmj/image/upload/v1666166640/zoe3_ps4f4y.jpg" alt="" class="avatar">
        <div class="card-info">
          <h4>Bethan Ward</h4>
          <h5>The Mancunian</h5>
        </div>
      </div>
    </div>
  </div>
  <h1 class="wedding-committee-titles">Groomsmen</h1>
  <div class="groomsmen">
    <div class="groomsmen-list">
      <div class="vip">
        <img src="https://res.cloudinary.com/dfipoufmj/image/upload/v1668424862/allen-zoeandcam_pqtgyg.jpg" alt="" class="avatar">
        <div class="card-info">
          <h4>Allen Butler</h4>
          <h5>The Best Man</h5>
        </div>
      </div>
      <div class="vip">
        <img src="https://res.cloudinary.com/dfipoufmj/image/upload/v1666713252/iain_zoe_and_cam_z0wutt.jpg" alt="" class="avatar">
        <div class="card-info">
          <h4>Iain Addleton</h4>
          <h5>The Brother</h5>
        </div>
      </div>
      <div class="vip">
        <img src="https://res.cloudinary.com/dfipoufmj/image/upload/v1668424478/WhatsApp_Image_2022-11-12_at_7.51.16_PM_psu7rj.jpg" alt="" class="avatar">
        <div class="card-info">
          <h4>Henry Faber</h4>
          <h5>The semi-hot one</h5>
        </div>
      </div>
      <div class="vip">
        <img src="https://res.cloudinary.com/dfipoufmj/image/upload/v1666705917/Jay_Favaro_zoeandcam_t02qsn.jpg" alt="" class="avatar">
        <div class="card-info">
          <h4>Jay Favaro</h4>
          <h5>The semi-athletic one</h5>
        </div>
      </div>
      <div class="vip">
        <img src="https://res.cloudinary.com/dfipoufmj/image/upload/v1668424478/WhatsApp_Image_2022-11-12_at_7.51.35_PM_mqsefr.jpg" alt="" class="avatar">
        <div class="card-info">
          <h4>Matthew Farkas</h4>
          <h5>The semi-large one</h5>
        </div>
      </div>
      <div class="vip">
        <img src="https://res.cloudinary.com/dfipoufmj/image/upload/v1666713856/rory_zoeandcam_a29pkj_qdktj3.jpg" alt="" class="avatar">
        <div class="card-info">
          <h4>Rory Jackson</h4>
          <h5>The Bro In Law</h5>
        </div>
      </div>
      <div class="vip">
        <img src="https://res.cloudinary.com/dfipoufmj/image/upload/v1668425007/WhatsApp_Image_2022-11-12_at_7.51.25_PM_s95hwo.jpg" alt="" class="avatar">
        <div class="card-info">
          <h4>Michael Hennessy</h4>
          <h5>The Hairy One</h5>
        </div>
      </div>
      <div class="vip">
        <img src="https://res.cloudinary.com/dfipoufmj/image/upload/v1668424478/WhatsApp_Image_2022-11-12_at_7.50.48_PM_akqwdg.jpg" alt="" class="avatar">
        <div class="card-info">
          <h4>Daniel Sutherland</h4>
          <h5>Suds</h5>
        </div>
      </div>
      <div class="vip">
        <img src="https://res.cloudinary.com/dfipoufmj/image/upload/v1668424478/WhatsApp_Image_2022-11-12_at_7.51.05_PM_naqhvz.jpg" alt="" class="avatar">
        <div class="card-info">
          <h4>Nick Thrasher</h4>
          <h5>The very tall one</h5>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="image-break">
  <img src="https://res.cloudinary.com/dfipoufmj/image/upload/v1669048233/zoe_header_pic_q6rlbj.jpg" alt="" class="four">
  <img src="https://res.cloudinary.com/dfipoufmj/image/upload/v1669048522/zoe_header_pic_2_nsu9ml.jpg" alt="" class="nine">
</div>
<a id="schedule">
</a>
<div class="schedule-area">
  <div class="travel">
    <div class="travel-info">
      <h2>Travel & Accommodation</h2>
      <p>Our venue is tucked away in the countryside a few miles away from the city of Perth.</p>
      <p>There are ample accommodation options nearby ranging from Premier and Holiday Inns to 5* resorts and self-catering cottages.</p>
      <p>The venue has a list of local suggestions, but you should also be able to find plenty of options via booking.com or a good old fashioned Google search.</p>
      <p></p><a href="https://www.thebyreatinchyra.co.uk/place-weddings-perthshire/places-to-stay/" target="_blank"><p>Click here</p></a>
      <p>If you're feeling brave, the estate offers free on-site camping with use of the bathroom facilities. Please do let us know if you're interested!</p>
    </div>
  </div>
  <div class="schedule">
      <h1>Order of the day</h1>
    <div class="schedule-list">
      <div class="schedule-event">
        <h5>1:00pm | Arrival of guests 👋🏼</h5>
      </div>
      <p>~</p>
      <div class="schedule-event">
        <h5>1:45pm | Ceremony 🕊</h5>
      </div>
      <p>~</p>
      <div class="schedule-event">
        <h5>2:30pm | Canopés 🫒</h5>
      </div>
      <p>~</p>
      <div class="schedule-event">
        <h5>4:00pm | Wedding breakfast 🐷</h5>
      </div>
      <p>~</p>
      <div class="schedule-event">
        <h5>7:00pm | Evening guests arrival 🥳</h5>
      </div>
      <p>~</p>
      <div class="schedule-event">
        <h5>12:00am | Carriages 💤</h5>
      </div>
    </div>
  </div>
  <div class="registry">
    <div class="regsitry-info">
      <h2>Registry</h2>
      <p>COMING SOON</p>
    </div>
  </div>
</div>
<div class="footer">
    <p>Built by the boss man bro</p>
    <img src="https://res.cloudinary.com/dfipoufmj/image/upload/v1669115799/image-from-rawpixel-id-2615398-png_ba0qxs.png" alt="" class="ten">
</div>
