<h1>Zoe and Cameron</h1>
<%= link_to "RSVP form", new_rsvp_path %>
<%= link_to "RSVP results", rsvps_path %>
<img src="https://res.cloudinary.com/dfipoufmj/image/upload/v1664472086/dl5xiycvwialnmzrvr1p.jpg" alt="">
