<h1>The Jackson-Addletons</h1>
<h2>25th November 2023</h2>
<p>Welcome to our wedding site, we can’t wait to celebrate with you! Hopefully we’ve included everything you need to know.</p>

<%= link_to "RSVP form", new_rsvp_path %>
<%= link_to "RSVP results", rsvps_path %>

<h2>Wedding Committee</h2>
<h3>Bridesmaids</h3>
<div class="bridesmaids">
  <img src="https://res.cloudinary.com/dfipoufmj/image/upload/v1662628708/4f65cfe8-3323-4e45-b9d2-125dc29fa414_va8i07.jpg" alt="">
  <h3>Louisa Abbott - The Ginger One</h3>
  <p></p>
  <img src="https://res.cloudinary.com/dfipoufmj/image/upload/v1662628708/4f65cfe8-3323-4e45-b9d2-125dc29fa414_va8i07.jpg" alt="">
  <h3>Ruby Gullon - The Geordie</h3>
  <p></p>
  <img src="https://res.cloudinary.com/dfipoufmj/image/upload/v1662628708/4f65cfe8-3323-4e45-b9d2-125dc29fa414_va8i07.jpg" alt="">
  <h3>Alicia Hudson - Twinny</h3>
  <p></p>
  <img src="https://res.cloudinary.com/dfipoufmj/image/upload/v1662628708/4f65cfe8-3323-4e45-b9d2-125dc29fa414_va8i07.jpg" alt="">
  <h3>Orla Jackson - Little Sis</h3>
  <p></p>
  <img src="https://res.cloudinary.com/dfipoufmj/image/upload/v1662628708/4f65cfe8-3323-4e45-b9d2-125dc29fa414_va8i07.jpg" alt="">
  <h3>Mairead Kempthorne</h3>
  <p></p>
  <img src="https://res.cloudinary.com/dfipoufmj/image/upload/v1662628708/4f65cfe8-3323-4e45-b9d2-125dc29fa414_va8i07.jpg" alt="">
  <h3>Rosie Little-Johns - Rozatron</h3>
  <p></p>
  <img src="https://res.cloudinary.com/dfipoufmj/image/upload/v1662628708/4f65cfe8-3323-4e45-b9d2-125dc29fa414_va8i07.jpg" alt="">
  <h3>Hannah Snodgrass - The American</h3>
  <p></p>
  <img src="https://res.cloudinary.com/dfipoufmj/image/upload/v1662628708/4f65cfe8-3323-4e45-b9d2-125dc29fa414_va8i07.jpg" alt="">
  <h3>Lesley Sonnen - The Foghorn</h3>
  <p></p>
  <img src="https://res.cloudinary.com/dfipoufmj/image/upload/v1662628708/4f65cfe8-3323-4e45-b9d2-125dc29fa414_va8i07.jpg" alt="">
  <h3>Bethan Ward - The Mancunian</h3>
  <p></p>
</div>
<div class="Groomsmen">
  <img src="https://res.cloudinary.com/dfipoufmj/image/upload/v1662628708/4f65cfe8-3323-4e45-b9d2-125dc29fa414_va8i07.jpg" alt="">
  <h3>Allen Butler</h3>
  <p></p>
  <img src="https://res.cloudinary.com/dfipoufmj/image/upload/v1662628708/4f65cfe8-3323-4e45-b9d2-125dc29fa414_va8i07.jpg" alt="">
  <h3>Iain Addleton</h3>
  <p></p>
  <img src="https://res.cloudinary.com/dfipoufmj/image/upload/v1662628708/4f65cfe8-3323-4e45-b9d2-125dc29fa414_va8i07.jpg" alt="">
  <h3>Henry Faber</h3>
  <p></p>
  <img src="https://res.cloudinary.com/dfipoufmj/image/upload/v1662628708/4f65cfe8-3323-4e45-b9d2-125dc29fa414_va8i07.jpg" alt="">
  <h3>Jay Favaro</h3>
  <p></p>
  <img src="https://res.cloudinary.com/dfipoufmj/image/upload/v1662628708/4f65cfe8-3323-4e45-b9d2-125dc29fa414_va8i07.jpg" alt="">
  <h3>Matthew Farkas</h3>
  <p></p>
  <img src="https://res.cloudinary.com/dfipoufmj/image/upload/v1662628708/4f65cfe8-3323-4e45-b9d2-125dc29fa414_va8i07.jpg" alt="">
  <h3>Michael Hennessy</h3>
  <p></p>
  <img src="https://res.cloudinary.com/dfipoufmj/image/upload/v1662628708/4f65cfe8-3323-4e45-b9d2-125dc29fa414_va8i07.jpg" alt="">
  <h3>Rory Jackson</h3>
  <p></p>
  <img src="https://res.cloudinary.com/dfipoufmj/image/upload/v1662628708/4f65cfe8-3323-4e45-b9d2-125dc29fa414_va8i07.jpg" alt="">
  <h3>Daniel Sutherland</h3>
  <p></p>
  <img src="https://res.cloudinary.com/dfipoufmj/image/upload/v1662628708/4f65cfe8-3323-4e45-b9d2-125dc29fa414_va8i07.jpg" alt="">
  <h3>Nick Thrasher</h3>
  <p></p>
</div>
