<a id="home">
  <img src="https://res.cloudinary.com/dfipoufmj/image/upload/v1666015811/DSC02450_dmkao8.jpg" alt="" class="five">
</a>
<h1>The Jackson-Addletons</h1>
<p>Welcome! We may already be legally wed, but that doesn't mean we're missing the opportunity to celebrate with our nearest and dearest!</p>
<p>Suit up, boot up and get ready for a Scottish throwdown with a twist!</p>
<p id="demo"></p>
<script>
  var countDownDate = new Date("Nov 23, 2023 12:00:00").getTime();
  var x = setInterval(function() {
  var now = new Date().getTime();
  var distance = countDownDate - now;
  var days = Math.floor(distance / (1000 * 60 * 60 * 24));
  var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
  var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
  var seconds = Math.floor((distance % (1000 * 60)) / 1000);
    document.getElementById("demo").innerHTML = days + " Days - " + hours + " Hours - "
    + minutes + " Minutes and " + seconds + " Seconds" + " TO GO!";

    if (distance < 0) {
      clearInterval(x);
      document.getElementById("demo").innerHTML = "Its the Big Day!";
    }
  }, 1000);
</script>

<h2>25th November 2023 | The Byre at Inchyra</h2>
<a href="https://www.thebyreatinchyra.co.uk/" target="_blank"><h3>Glencarse, Perth PH2 7LU, UK</h3>
</a>
<%# <p>Glencarse, Perth PH2 7LU</p> %>
<div class="rsvp-area">
  <img src="https://res.cloudinary.com/dfipoufmj/image/upload/v1666015815/DSC02516_hw35a6.jpg" alt="" class="six col-6">
  <div class="rsvp-area-info col-6">
    <h4>PLEASE RSVP BY 31st MARCH 2023</h4>
    <a id="rsvp">
      <p>Fill out the form below</p>
    </a>
    <div class="rsvp-btn">
      <%= link_to "RSVP", new_rsvp_path, id: "rsvp-big-button" %>
    </div>
    <div class="rsvp-table-btn">
      <%= link_to "RSVP results", rsvps_path, id: "rsvp-table-button" %>
    </div>
  </div>
</div>

<div class="details-area">
  <div class="details-area-info col-6">
    <h2>The details</h2>
    <h4>Dress code</h4>
    <p>Formal and Fancy, but be prepared for frosty scottish weather</p>
    <a id="details">
      <p><strong>* Umbrellas strongly advised</strong></p>
    </a>
    <p>Parking - <a href="https://www.thebyreatinchyra.co.uk/getting-here/information-for-guests/" target="_blank" id="parking-link">Click Here</a></p>
    <%# <%= link_to "Click here", https://www.thebyreatinchyra.co.uk/getting-here/information-for-guests/ %>
    <p>ADULT ONLY AFFAIR</p>
    <p>There will be food and drinks at reception, we've covered some of the costs, but come prepared if you fancy a cocktail!</p>
    <p>Any Questions? zoeandcam2023@gmail.com</p>
  </div>
  <img src="https://res.cloudinary.com/dfipoufmj/image/upload/v1666015814/DSC02500_wn01f3.jpg" alt="" class="two col-6">
</div>
<div class="wedding-committee-titles">
  <h1>Bridesmaids</h1>
  <h1>Groomsmen</h1>
</div>
<div class="wedding-committee-area">
  <div class="bridesmaids col-6">
    <div class="bridesmaids-list">
      <div class="vip">
        <img src="https://res.cloudinary.com/dfipoufmj/image/upload/v1666112213/zoe4_eqjnhe.jpg" alt="">
        <div class="card-info">
          <h4>Louisa Abbott</h4>
          <h5>The Ginger One</h5>
        </div>
      </div>
      <div class="vip">
        <img src="https://res.cloudinary.com/dfipoufmj/image/upload/v1666112213/zoe6_zaw9zf.jpg" alt="">
        <div class="card-info">
          <h4>Ruby Gullon</h4>
          <h5>The Geordie</h5>
        </div>
      </div>
      <div class="vip">
        <img src="https://res.cloudinary.com/dfipoufmj/image/upload/v1666166533/alicia_z6bkdd.jpg" alt="">
        <div class="card-info">
          <a id="wedding-committee">
            <h4>Alicia Hudson</h4>
          </a>
          <h5>Twinny</h5>
        </div>
      </div>
      <div class="vip">
        <img src="https://res.cloudinary.com/dfipoufmj/image/upload/v1666112212/zoe2_xlnz0u.jpg" alt="">
        <div class="card-info">
          <h4>Orla Jackson</h4>
          <h5>Little Sis</h5>
        </div>
      </div>
      <div class="vip">
        <img src="https://res.cloudinary.com/dfipoufmj/image/upload/v1666112213/zoe5_d0hcqx.jpg" alt="">
        <div class="card-info">
          <h4>Mairead Kempthorne</h4>
          <h5>Lord Maz</h5>
        </div>
      </div>
      <div class="vip">
        <img src="https://res.cloudinary.com/dfipoufmj/image/upload/v1666112212/zoe1_mgsxq7.jpg" alt="">
        <div class="card-info">
          <h4>Rosie Little-Johns</h4>
          <h5>Rozatron</h5>
        </div>
      </div>
      <div class="vip">
        <img src="https://res.cloudinary.com/dfipoufmj/image/upload/v1666112037/279281430_1025547491704475_9133770342258644086_n_uph7og.jpg" alt="">
        <div class="card-info">
          <h4>Hannah Snodgrass</h4>
          <h5>The American</h5>
        </div>
      </div>
      <div class="vip">
        <img src="https://res.cloudinary.com/dfipoufmj/image/upload/v1666166524/sonnen_ho7gzn.jpg" alt="">
        <div class="card-info">
          <h4>Lesley Sonnen</h4>
          <h5>The Foghorn</h5>
        </div>
      </div>
      <div class="vip">
        <img src="https://res.cloudinary.com/dfipoufmj/image/upload/v1666166640/zoe3_ps4f4y.jpg" alt="">
        <div class="card-info">
          <h4>Bethan Ward</h4>
          <h5>The Mancunian</h5>
        </div>
      </div>
    </div>
  </div>
  <div class="groomsmen col-6">
    <div class="groomsmen-list">
      <div class="vip">
        <img src="https://res.cloudinary.com/dfipoufmj/image/upload/v1666015813/DSC02480_lfhjnr.jpg" alt="">
        <div class="card-info">
          <h4>Allen Butler</h4>
          <h5>The Best Man</h5>
        </div>
      </div>
      <div class="vip">
        <img src="https://res.cloudinary.com/dfipoufmj/image/upload/v1666015813/DSC02480_lfhjnr.jpg" alt="">
        <div class="card-info">
          <h4>Iain Addleton</h4>
          <h5>The Brother</h5>
        </div>
      </div>
      <div class="vip">
        <img src="https://res.cloudinary.com/dfipoufmj/image/upload/v1666015813/DSC02480_lfhjnr.jpg" alt="">
        <div class="card-info">
          <h4>Henry Faber</h4>
          <h5>The Mancunian</h5>
        </div>
      </div>
      <div class="vip">
        <img src="https://res.cloudinary.com/dfipoufmj/image/upload/v1666015813/DSC02480_lfhjnr.jpg" alt="">
        <div class="card-info">
          <h4>Jay Favaro</h4>
          <h5>The Mancunian</h5>
        </div>
      </div>
      <div class="vip">
        <img src="https://res.cloudinary.com/dfipoufmj/image/upload/v1666015813/DSC02480_lfhjnr.jpg" alt="">
        <div class="card-info">
          <h4>Matthew Farkas</h4>
          <h5>The Mancunian</h5>
        </div>
      </div>
      <div class="vip">
        <img src="https://res.cloudinary.com/dfipoufmj/image/upload/v1666015813/DSC02480_lfhjnr.jpg" alt="">
        <div class="card-info">
          <h4>Rory Jackson</h4>
          <h5>The Bro In Law</h5>
        </div>
      </div>
      <div class="vip">
        <img src="https://res.cloudinary.com/dfipoufmj/image/upload/v1666015813/DSC02480_lfhjnr.jpg" alt="">
        <div class="card-info">
          <h4>Michael Hennessy</h4>
          <h5>The Hairy One</h5>
        </div>
      </div>
      <div class="vip">
        <img src="https://res.cloudinary.com/dfipoufmj/image/upload/v1666015813/DSC02480_lfhjnr.jpg" alt="">
        <div class="card-info">
          <h4>Daniel Sutherland</h4>
          <h5>"Suds"</h5>
        </div>
      </div>
      <div class="vip">
        <img src="https://res.cloudinary.com/dfipoufmj/image/upload/v1666015813/DSC02480_lfhjnr.jpg" alt="">
        <div class="card-info">
          <h4>Nick Thrasher</h4>
          <h5>The Mancunian</h5>
        </div>
      </div>
    </div>
  </div>
</div>
<img src="https://res.cloudinary.com/dfipoufmj/image/upload/v1666122809/zoe_group_photo_wedding_kxtjkn.jpg" alt="" class="four">
<div class="schedule-area">
  <div class="travel col-4">
    <div class="travel-info">
      <h2>Travel & Accommodation</h2>
      <p>Our venue is tucked away in the countryside a few miles away from the city of Perth.</p>
      <p>There are ample accommodation options nearby ranging from Premier and Holiday Inns to 5* resorts and self-catering cottages.</p>
      <p>The venue has a list of local suggestions, but you should also be able to find plenty of options via booking.com or a good old fashioned Google search.</p>
      <p></p><a href="https://www.thebyreatinchyra.co.uk/place-weddings-perthshire/places-to-stay/" target="_blank"><p>Click here</p></a>
    </div>
  </div>
  <%# <img src="https://res.cloudinary.com/dfipoufmj/image/upload/v1666015815/DSC02516_hw35a6.jpg" alt="" class="seven col-6"> %>
  <div class="schedule col-4">
      <h1>Order of the day</h1>
    <div class="schedule-list">
      <div class="schedule-event">
        <h5>1:00pm | Arrival and welcoming of guests 👋🏼</h5>
      </div>
      <p>~</p>
      <div class="schedule-event">
        <h5>2:00pm | Ceremony 🕊</h5>
      </div>
      <p>~</p>
      <div class="schedule-event">
        <h5>2:30pm | Canopés 🫒</h5>
      </div>
      <p>~</p>
      <div class="schedule-event">
        <h5>5:00pm | Wedding breakfast 🐷</h5>
      </div>
      <p>~</p>
      <div class="schedule-event">
        <h5>7:00pm | Party and evening guests arrival 🥳</h5>
      </div>
      <p>~</p>
      <div class="schedule-event">
        <h5>12:00am | Carriages 💤</h5>
      </div>
    </div>
  </div>
  <div class="registry col-4">
    <div class="regsitry-info">
      <h2>Registry</h2>
      <p>COMING SOON</p>
      <h2>Video and photo share</h2>
      <p>We will soon have an album accessible by all, where you can upload any photos from the day, as well as view any taken by others!</p>
    </div>
  </div>
</div>
<div class="footer">
  <a id="schedule">
    <p>Proudly created with love by RORY JACKSON</p>
  </a>
</div>
