<h1>Albums</h1>
<%= link_to "New album", new_album_path %>

<div id="albums">
  <% @albums.each do |album| %>
    <%= album.title %>
    <%= album.description %>
    <p><%= link_to "Show this album", album_path(album) %></p>
  <% end %>
</div>
