.footer {
  width: 100%;
  background-color: white;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.footer p {
  margin: 10px;
  align-items: center;
}
