.footer {
  width: 100%;
  color: rgba(255, 255, 255, 0.896);
  background-color: rgb(26, 26, 26);
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  // border-top: solid rgba(0, 0, 0, 0.254) 1px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.053);
  position: static;
  bottom: 0px;
}

.footer p {
  margin: 10px;
  align-items: center;
}
