.footer {
  width: 100%;
  background-color: #f4f4f4;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: solid rgba(0, 0, 0, 0.254) 1px;
  // box-shadow: 0 0 15px rgba(0,0,0,0.2);
  position: static;
  bottom: 0px;
}

.footer p {
  margin: 10px;
  align-items: center;
}
