.navbar {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-gap: 10px;
  text-align: center;
  list-style: none;
  padding: 0px 30px;
  position: fixed;
  top: 0;
  background: transparent;
  width: 100%;
  height: 80px;
  border-bottom: solid rgba(0, 0, 0, 0.254) 1px;
  // box-shadow: 0 0 15px rgba(0,0,0,0.2);
  z-index: 5;
  // color: white;
  background-color: #f4f4f4;

}

.log-item:hover {
  color: rgba(180, 180, 180, 180);
}

.nav-link {
  // border: solid black 1px ;
  // width: 100px;
  // height: 40px;
  // color: white;
  // font-size: 20px;
  padding: 5px;
  border-radius: 10px;
  // color: transparent;
  // background-image: linear-gradient(to left, #2ecc71, #3498db, #9b59b6, #f39c12);
  // -webkit-background-clip: text;
  // animation: animate 5s linear infinite;
  // -webkit-background-size: 500%;
  // background-size: 500%;
}
