.navbar {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-gap: 10px;
  text-align: center;
  list-style: none;
  padding: 0px 30px;
  position: fixed;
  top: 0;
  background: transparent;
  width: 100%;
  height: 80px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.053);
  z-index: 5;
  color: rgba(255, 255, 255, 0.896);
  background-color: rgb(26, 26, 26);
}

.log-item:hover {
  color: rgba(180, 180, 180, 180);
}

.nav-link {
  padding: 5px;
  border-radius: 10px;
}
