// .navbar-lewagon {
//   justify-content: space-between;
//   background: white;
// }

// .navbar-lewagon .navbar-collapse {
//   flex-grow: 0;
//   width: 100%;
//   display: flex !important;
//   justify-content: space-between;
// }

// .navbar-lewagon .navbar-collapse .me-auto {
//   justify-content: space-between;
// }

// // .navbar-lewagon .navbar-brand img {
// //   width: 40px;
// // }

// .navbar-btns {
//   display: flex;
//   justify-content: center;
// }

.navbar {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-gap: 10px;
  text-align: center;
  list-style: none;
  padding: 0px 30px;
  position: fixed;
  top: 0;
  background-color: white;
  width: 100%;
  height: 80px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  z-index: 5;
}

.log-item:hover {
  color: rgba(180, 180, 180, 180);
}
